body {
    font-family: Arial, sans-serif;
    background-color: #6590a8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}

.bmi-image {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #211f1f;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background-color: #548da3;
    color: rgb(26, 23, 23);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #285d9a;
}

.result {
    margin-top: 20px;
}

#bmiResult {
    font-size: 1.5em;
    color: #333;
}

#bmiCategory {
    font-size: 1.2em;
    color: #666;
}

.category-image {
    width: 100px;
    height: auto;
    margin-top: 20px;
    display: none; /* Initially hidden, displayed after calculation */
}
